.main {
  flex: 1 1 auto;
}

.home {
  height: 100vh;
  background-image: url(../assets/webp/home-bg.jpg);
  background-position: 52% 50%;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.home__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 130%;
  color: var(--primary);
  position: absolute;
  bottom: 65px;
}

.home__title span {
  background: var(--accent-dark);
  padding: 5px 15px;
  color: #fff;
}

.base {
  margin-bottom: 125px;
}

.base__row {
  display: flex;
}

.base__column {
  display: flex;
  padding: 0 30px;
  flex: 0 1 25%;
}

.base__item {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.base__image {
  margin-bottom: 40px;
}

.base__item--title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #232c38;
  margin-bottom: 12px;
}

.base__item--text {
  flex: 1 1 auto;
  line-height: 22px;
}